.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 30rem;
  margin: 7rem auto;
  text-align: center;
  height: 50rem;
  border-radius: 0;
}

.authentication form {
  margin-bottom: 1rem;
}